<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Estudiante</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <h1>Crear estudiante</h1>
</body>
    <form th:object="${estudiante}" th:action="@{/student/agregar}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input th:field="*{nombre}" type="text" class="form-control" id="nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input  th:field="*{correo}" type="email" class="form-control" id="correo" placeholder="Correo">
        </div>
        <div class="form-group">
            <label for="carrera">Carrera</label>
            <input  th:field="*{carrera}" type="text" class="form-control" id="carrera" placeholder="Carrera">
        </div>
        <div class="form-group">
            <label for="semestre">Semestre</label>
            <input  th:field="*{semestre}" type="number" class="form-control" id="semestre" placeholder="Semestre">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</html>