body{
    margin: 0;

}

nav{
    background-color: darkslategrey;
    color: white;
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    
    
}

.blueTitleUnderline{
    text-decoration: underline;
    text-decoration-color: aqua;
}

.darkContinuousBorder{
    border-style: solid;
    border-color: black;
}

.content{
    /* */
    /* padding:10vh;
    */
    margin-top: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
    padding-top: 2vh;
}

.image{
    float: left;
    margin-right: 2vh;
    margin-bottom: 1vh;
}

footer{
    background-color: darkcyan;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    margin-top: auto;


}

a{
    color:white;
}