@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css?family=BebasNeue&display=swap|effect=neon');

*{
    font-family: Gruppo;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);

    color: white;

}

h1{
    font-family: Bebas Neue;
}

#navigationBar{
    background-color: black;
    color: white;
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0;
    display: flex;
    justify-content: space-around;
    font-size:x-large;
    text-align: center;    
    padding-top:2%
}

.content{
    margin-top: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
    padding-top: 2vh;
    min-height: 100vh;
}


footer{
    width: auto;
    height: 20vh;
    bottom: 0;
    padding-top: 9vh;
    background-color: black;
    text-align: center;
    font-size:x-large;
}

.coolTitle{
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
.blueTitleUnderline{
    text-decoration: underline;
    text-decoration-color: aqua;
}

.darkContinuousBorder{
    border-style: solid;
    border-color: black;
}


.image{
    float:left;
    margin-right: 2vh;
    margin-bottom: 1vh;
}


a{
    color:rgb(255, 255, 255);
}


