#youtubeVid{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    display: flex;
    justify-content: center;
}

#linkSection{
    display: block;
}

#imageSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Gap between grid items */
}

body{
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
    font-size: large;
}

