.figura{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 10px;
}

.contenedor{
    height: 50%;
    border-style: solid;
    display: flex;
}

.arriba{
    background-color: green;
    flex-direction: row;
    /*eje principal */
    justify-content: space-between;
        /*eje secundario */
        align-items: center;

}

.arriba{
    background-color: yellowgreen;
    flex-direction: column;
    /*eje principal */
    justify-content: center;
        /*eje secundario */
        align-items: center;
}

.horizontal{
    display: inline-block;
}

body{
    height: 50%;
    border-style: solid;
    display: flex;
}